#whatsapp-botao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1bd741;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.5);
    transition: transform 0.2s ease-in-out;
  }
  
  #whatsapp-botao:hover {
    transform: scale(1.2);
  }
    
  #whatsapp-botao img {
    margin-left:18px;
    width: 50%;
    height: 50%;
  }


