@font-face {
  font-family: 'Confortaa';
  src: url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
  }
 
 body {
  margin: 0;
  padding: 0;
  font-family: 'Confortaa', sans-serif;
}
body, html{
  height: 100%;
}
